<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.webservice.mapper.account.AccountDao">

<!--查询账户信息-->
    <select id="getUserAccountInfo" resultType="UserAccount">
       select u.nick_name,u.portrait,u.email,u.mobile,a.balance
       from `user` u
       INNER JOIN account a
       ON u.id = a.user_id
       WHERE u.id=#{userId}
    </select>
</mapper>