<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.webservice.mapper.bill.BillDao">

    <!--查询账单信息-->
    <select id="getBillInfo" resultType="Bill">
       SELECT
	b.income,
	b.expend,
	b.id,
	b.create_time AS date
FROM
	bill b
WHERE
	b.user_id = 1
AND b.create_time >= STR_TO_DATE(#{startDate}, '%Y-%m-%d %H:%i:%s')
AND b.create_time <= STR_TO_DATE(#{endDate}, '%Y-%m-%d %H:%i:%s')
ORDER BY
	date DESC;
    </select>

    <!--查询账单明细-->
    <select id="getBillDetail" resultType="BillDetail">
        SELECT
	bd.create_time AS date,
	p.`name`,
	bd.num,
	bd.price,
	bd.bill_type,
	bd.balance
FROM
	bill_detail bd
LEFT JOIN product p ON bd.product_id = p.id
WHERE
	bd.bill_id = 1
AND bd.create_time >= STR_TO_DATE(
	#{startDate},
	'%Y-%m-%d %H:%i:%s'
)
AND bd.create_time <= STR_TO_DATE(
	#{endDate},
	'%Y-%m-%d %H:%i:%s'
)
GROUP BY
	DAY (bd.create_time)
ORDER BY
	bd.create_time DESC;
    </select>
</mapper>
