<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.webservice.mapper.order.OrderDao">
    <select id="selectOneById">
        SELECT * FROM `user` WHERE user.id = #{id}
    </select>

    <select id="selectOneByName">
        SELECT * FROM `user` WHERE user.nick_Name = #{nick_Name}
    </select>
</mapper>
